.outer {
  position: relative;
  margin-top: 300pt;
  margin-left: 100pt;
  display: block;
}

.inner {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
}

.username {
  font-size: 60pt;
}

.enter_link {
  font-size: 20pt;
  margin: 280px;
}
